@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
.title{
    color: #FFF;
    font-family: 'SolaimanLipi', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding-top: 75px;
}

.footer{
    width: 100%;
    height: 191px;
    background-color: #4A6FB6;
}
.bd{
    line-height: 19px;
    font-size: 16px;
    color: #FFF;
    font-family: 'SolaimanLipi', sans-serif;
    font-weight: 700;
    
}

.bd_two{
    line-height: 19px;
    font-size: 16px;
    color: #FFF;
    font-family: 'SolaimanLipi', sans-serif;
    font-weight: 700;
}
.footer_second_part{
    padding-top: 43px;
}
.info{
    padding-top: 53px;
    color: #FFF;
    font-family: 'SolaimanLipi', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width:767px){
    .footer{
        
        height: 330px;
        
    }
    .info{
        padding-top: 37px;
    }
}